header h1 {
    margin-top: 0.5em;
    font-size: 60px;
}

/* Bootstrap - Nav List */
.nav-list {
    border: #ccc solid 1px;
    margin-top: 20px;
    padding: 0;
}

.nav-list li {
    border-bottom: #ccc solid 1px;
    padding: 0 15px;
}

.nav-list li:last-child {
    border-bottom: 0;
}

.nav-list li a {
    padding: 0.6em 1.2em 0.6em 2.4em;
}

.nav-list li.header a {
    font-weight: bold;
    padding-left: 1.2em;
}

.nav-list li.no-page a:hover {
    background-color: #fff;
    cursor: default;
    color: #08c !important;
}

.nav-list a:hover .icon-chevron-right {
    opacity: 0.6;
}

.icon-chevron-right {
    float: right;
    opacity: 0.4;
}

/* Bootstrap - Forms */
.success .help-block {
    display: none;
}

/* Forms */
form {
    margin: 0;
}

input,
select,
textarea {
    border: 1px #cccccc solid;
}

.untouched,
.untouched input,
.untouched label,
.untouched select,
.untouched textarea {
    color: #333333 !important;
    border-color: #cccccc !important;
}

.untouched .help-block {
    display: none;
}