#################
# Build + Docs
#################

.grunt
_SpecRunner.html
apidocs
build


#################
# Node
#################

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules


#################
## WebStorm
#################

.idea


#################
# File System Detritus
#################

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# OSX Folder Attributes
.DS_Store
