block page-definition
    - var page = { "title": "Home", "section": "home", "subSection": "" }

extends templates/layout

block introduction
    p These samples show <strong>valerie</strong> in action.
    p View a sample by choosing an item from the menu on the left.