block page-definition
    - var page = { "title": "Input Fields / Sample One", "section": "input-fields", "subSection": "one" }

extends templates/layout

block introduction
    p This sample shows <strong>valerie</strong> being used to validate a simple form.

block sample-form
    form.form-horizontal.sample
        fieldset
            legend Your Name
            .control-group(data-bind='validationCss: firstName')
                label(for='firstName').control-label First Name
                .controls
                    input(id='firstName',type='text', data-bind='validatedValue: firstName')
                    span(data-bind='validationMessageText: firstName').help-block

            .control-group(data-bind='validationCss: surname')
                label(for='surname').control-label Surname
                .controls
                    input(id='surname',type='text', data-bind='validatedValue: surname')
                    span(data-bind='validationMessageText: surname').help-block


        .form-actions
            button(data-bind='click: submit').btn.btn-primary Submit
            button(data-bind='click: reset').btn Reset

block scripts
    script(type='text/javascript', src='input-fields-one.js')