block page-definition
    - var page = { "title": "Input Fields / Sample Two", "section": "input-fields", "subSection": "two" }

extends templates/layout

block content
p
    | These pages hold samples of <strong>valerie</strong> in action.