block page-definition

!!! 5
html
    head
        title valerie Samples - #{page.title}

        //if lte IE 8
            script(type='text/javascript',src='../thirdParty/html5shiv.js')

        link(rel='stylesheet',type='text/css',href='../thirdParty/bootstrap/css/bootstrap.min.css')

        //if lte IE 6
            link(rel='stylesheet',type='text/css',href='../thirdParty/bootstrap/css/bootstrap-ie6.min.css')
            link(rel='stylesheet',type='text/css',href='../thirdParty/bootstrap/css/ie.css')

        link(rel='stylesheet',type='text/css',href='samples.css')

        block styles
    body
        header
            .container
                h1 valerie
                h3 samples

        .container
            .row
                .span3
                    include menu
                .span9
                    .page-header
                        h1=page.title

                    block introduction

                    block content
        block scripts