- var menu = [];
- var subMenuItems;

- subMenuItems = [];
- menu.push({ "name": "home", "title": "Home", "link": "index.html", "items": subMenuItems });

- subMenuItems = [];
- menu.push({ "name": "basic-form", "title": "Basic Form", "items": subMenuItems });
- subMenuItems.push({ "name": "fluent", "title": "Fluent", "link": "basic-form-fluent.html" });

- subMenuItems = [];
- menu.push({ "name": "complex-forms", "title": "Complex Forms", "items": subMenuItems });
- subMenuItems.push({ "name": "applicability", "title": "Applicability", "link": "complex-forms-applicability.html" });
- subMenuItems.push({ "name": "contacts", "title": "Contacts", "link": "complex-forms-contacts.html" });

ul.nav.nav-list
    each sectionMenu in menu
        - cssClass = "header ";
        - cssClass += (page.section === sectionMenu.name && sectionMenu.items.length === 0) ? "active " : " ";
        - cssClass += (sectionMenu.link === undefined) ? "no-page" : "";
        li(class=cssClass)
            if sectionMenu.link === undefined
                a=sectionMenu.title
            else
                a(href=sectionMenu.link)
                    i.icon-chevron-right
                    =sectionMenu.title
        each sectionItem in sectionMenu.items
            li(class=((page.subSection === sectionItem.name) ? "active" : ""))
                a(href=sectionItem.link)
                    i.icon-chevron-right
                    =sectionItem.title