extends layout

block styles
    link(rel='stylesheet',type='text/css',href='../thirdParty/syntaxHighlighter/styles/shCoreEmacs.css')

    block sample-styles

block scripts
    //if lt IE 8
        script(type='text/javascript',src='../thirdParty/json3.min.js')

    script(type='text/javascript',src='../thirdParty/jquery-1.9.1.min.js')
    script(type='text/javascript',src='../thirdParty/bootstrap/js/bootstrap.min.js')

    //if lte IE 6
        script(type='text/javascript',src='../thirdParty/bootstrap/js/ie6.js')

    script(type='text/javascript',src='../thirdParty/knockout-2.2.1.debug.js')

    // valerie - core
    script(type='text/javascript',src='../valerie/core/valerie.namespace.js')
    script(type='text/javascript',src='../valerie/core/valerie.utils.js')
    script(type='text/javascript',src='../valerie/core/valerie.formatting.js')
    script(type='text/javascript',src='../valerie/core/valerie.dom.js')
    script(type='text/javascript',src='../valerie/core/valerie.koExtras.js')
    script(type='text/javascript',src='../valerie/core/valerie.converters.js')
    script(type='text/javascript',src='../valerie/core/valerie.validationResult.js')
    script(type='text/javascript',src='../valerie/core/valerie.validationState.js')
    script(type='text/javascript',src='../valerie/core/valerie.modelValidationState.js')
    script(type='text/javascript',src='../valerie/core/valerie.propertyValidationState.js')
    script(type='text/javascript',src='../valerie/core/ko.computed.fn.js')
    script(type='text/javascript',src='../valerie/core/ko.observable.fn.js')
    script(type='text/javascript',src='../valerie/core/ko.bindingHandlers.js')
    script(type='text/javascript',src='../valerie/core/valerie.koBindingsHelper.js')

    // valerie - full
    script(type='text/javascript',src='../valerie/full/valerie.numericHelper.js')
    script(type='text/javascript',src='../valerie/full/valerie.converters.full.js')
    script(type='text/javascript',src='../valerie/full/valerie.rules.js')
    script(type='text/javascript',src='../valerie/full/valerie.propertyValidationState-fluentConverters.js')
    script(type='text/javascript',src='../valerie/full/valerie.propertyValidationState-fluentRules.js')

    // valerie - en
    script(type='text/javascript',src='../valerie/localisation/en/core-en.js')
    script(type='text/javascript',src='../valerie/localisation/en/full-en.js')

    // valerie - en-gb
    script(type='text/javascript',src='../valerie/localisation/en-gb/full-en-gb.js')
    script(type='text/javascript',src='../valerie/localisation/en-gb/valerie.converters-en-gb.js')
    script(type='text/javascript',src='../valerie/localisation/en-gb/valerie.propertyValidationState-fluentConverters-en-gb.js')

    // syntax highlighter
    script(type='text/javascript',src='../thirdParty/syntaxHighlighter/scripts/shCore.js')
    script(type='text/javascript',src='../thirdParty/syntaxHighlighter/scripts/shBrushJScript.js')
    script(type='text/javascript',src='../thirdParty/syntaxHighlighter/scripts/shBrushXml.js')

    // samples
    script(type='text/javascript',src='samples.js')

    // sample script
    div#sample-script
        block sample-script

block content
    div.introduction
        block sample-introduction

    div.tabbable
        ul.nav.nav-tabs
            li.active
                a(href='#sample-live',data-toggle='tab') Live
            li
                a(href='#sample-live-model',data-toggle='tab') Live Model
            li
                a(href='#sample-html',data-toggle='tab') HTML
            li
                a(href='#sample-script-pane',data-toggle='tab') Javascript

        div.tab-content
            div.tab-pane.active#sample-live
                block sample-live

            div.tab-pane#sample-live-model
                pre(data-bind='text: JSON.stringify(ko.toJS($data), null, 2)')

            div.tab-pane#sample-html
                pre(class='.brush: xml')
                | <script type="text/html">
                block sample-html
                | </script>

            div.tab-pane#sample-script-pane
                pre(class='.brush: js')